coralike_wf.json
{
    "name": "Coralike",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Decide how many pages to scrape.\n// On first run (no seen URLs stored yet), scrape all pages (up to MAX_PAGES).\n// On subsequent runs, scrape only page 1 to catch the latest releases.\n\nconst store = $getWorkflowStaticData('global');\nconst seenUrls = store.seenUrls || [];\n\nconst isFirstRun = seenUrls.length === 0;\nconst MAX_PAGES = isFirstRun ? 50 : 1;  // adjust 50 to however deep you want the first scrape\n\nconst pages = [];\nfor (let i = 0; i < MAX_PAGES; i++) {\n  pages.push({\n    json: {\n      page: i,\n      offset: i * 15,   // coreradio uses 15 items per page\n      isFirstRun: isFirstRun\n    }\n  });\n}\n\nreturn pages;"
            },
            "name": "Decide Pages To Fetch",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://coreradio.online/",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "do",
                            "value": "cat"
                        },
                        {
                            "name": "category",
                            "value": "new"
                        },
                        {
                            "name": "cstart",
                            "value": "={{ $json.offset }}"
                        },
                        {
                            "name": "set_new_sort",
                            "value": "dle_sort_cat"
                        },
                        {
                            "name": "set_sort_sort",
                            "value": "desc"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true
                        }
                    },
                    "headers": {
                        "parameters": [
                            {
                                "name": "User-Agent",
                                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
                            },
                            {
                                "name": "Accept",
                                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
                            }
                        ]
                    }
                }
            },
            "name": "Fetch Coreradio Page",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "\nconst _res = $input.first().json;\n\n// \u2500\u2500 Defensive: surface whatever we got if body is missing \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst html = _res.body || _res.data || _res.html || _res.text || '';\n\nif (!html) {\n  return [{ json: {\n    debug: true,\n    error: 'No HTML body found',\n    availableKeys: Object.keys(_res),\n    rawInput: JSON.stringify(_res).slice(0, 500)\n  }}];\n}\n\n// \u2500\u2500 Helpers \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nfunction parseTitle(raw) {\n  raw = raw.replace(/\\\\/g, '');\n  for (const sep of [' - ', ' \\u2013 ', ' \\u2014 ']) {\n    const idx = raw.indexOf(sep);\n    if (idx !== -1) {\n      const band = raw.slice(0, idx).trim();\n      const rest = raw.slice(idx + sep.length).trim();\n      const typeMatch = rest.match(/\\[([^\\]]+)\\]/);\n      const yearMatch = rest.match(/\\((\\d{4})\\)/);\n      const album = rest.replace(/\\s*\\[[^\\]]+\\]\\s*/, '').replace(/\\s*\\(\\d{4}\\)\\s*/, '').trim();\n      return {\n        band,\n        album,\n        type: typeMatch ? typeMatch[1] : '',\n        year: yearMatch ? yearMatch[1] : new Date().getFullYear().toString()\n      };\n    }\n  }\n  return { band: raw.trim(), album: 'Unknown', type: '', year: new Date().getFullYear().toString() };\n}\n\nfunction extractMeta(text) {\n  const genreMatch   = text.match(/Genre:\\s*(.+?)(?:Country:|Quality:|$)/s);\n  const countryMatch = text.match(/Country:\\s*(.+?)(?:Quality:|$)/s);\n  const genres = genreMatch\n    ? genreMatch[1].split(/[\\/,]/).map(g => g.trim()).filter(Boolean)\n    : [];\n\n  return {\n    genres,\n    genre:   genres.join(', ') || 'Unknown',\n    country: countryMatch ? countryMatch[1].trim() : 'Unknown',\n  };\n}\n\n// \u2500\u2500 Parse \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nconst releases = [];\nconst imgAltRegex = /<img[^>]+alt=\"([^\"]*\\s[-\\u2013\\u2014]\\s[^\"]+)\"[^>]*>/gi;\nlet imgMatch;\n\nwhile ((imgMatch = imgAltRegex.exec(html)) !== null) {\n  const altText  = imgMatch[1];\n  const imgStart = imgMatch.index;\n\n  if (!altText.match(/\\s[-\\u2013\\u2014]\\s/)) continue;\n\n  const chunk = html.slice(imgStart, imgStart + 2000);\n  if (!/Genre:/i.test(chunk)) continue;\n\n  const srcMatch = imgMatch[0].match(/(?:data-src|src)=\"([^\"]+)\"/i);\n  const coverUrl = srcMatch ? srcMatch[1] : '';\n  if (coverUrl.includes('no_image') || coverUrl.includes('coredark')) continue;\n\n  const linkMatch = chunk.match(/<a\\s+(?:[^>]*\\s+)?href=\"([^\"]+)\"/i);\n  const postUrl   = linkMatch ? linkMatch[1] : '';\n\n  const plainText = chunk.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ');\n\n  const { band, album, type, year } = parseTitle(altText);\n  const { genre, genres, country, quality } = extractMeta(plainText);\n\n  releases.push({\n    json: {\n      artist:    band,\n      track:     album,\n      type,\n      year,\n      genre,\n      genres,\n      country,\n      imageUrl:  coverUrl,\n      sourceUrl: postUrl || 'https://coreradio.online/',\n      fullTitle: altText,\n      scrapedAt: new Date().toISOString()\n    }\n  });\n}\n\nif (releases.length === 0) {\n  return [{ json: {\n    debug: true,\n    htmlLength: html.length,\n    htmlSnippet: html.slice(0, 1000),\n    note: 'HTML received but no releases parsed \u2014 check htmlSnippet'\n  }}];\n}\n\nreturn releases;\n"
            },
            "name": "Parse HTML Releases",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Deduplicate: only pass through releases whose sourceUrl hasn't been seen before.\n// Also persists new URLs back into workflow static data.\n\nconst store    = $getWorkflowStaticData('global');\nconst seenUrls = new Set(store.seenUrls || []);\n\nconst items  = $input.all();\nconst newOnes = [];\n\nfor (const item of items) {\n  const url = item.json.sourceUrl;\n  if (!seenUrls.has(url)) {\n    seenUrls.add(url);\n    newOnes.push(item);\n  }\n}\n\n// Persist updated set (convert back to array for JSON storage)\nstore.seenUrls = Array.from(seenUrls);\n\n// If nothing new, return a single sentinel so downstream nodes don't hang\nif (newOnes.length === 0) {\n  return [{ json: { noNewReleases: true } }];\n}\n\nreturn newOnes;"
            },
            "name": "Deduplicate Releases",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "has-artist",
                            "leftValue": "={{ $json.artist }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Has New Releases?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Load favorites from shared static data (managed by the Bot Manager workflow)\nconst store = $getWorkflowStaticData('global');\n\nconst favBands  = store.favBands  || ['Vildhjarta', 'Allt', 'Imminence', 'Karmanjaka', \"Humanity's Last Breath\", 'Invent Animate', 'Currents', 'Lorna Shore', 'Spiritbox', 'Sleep Token', 'Bring Me The Horizon'];\nconst favGenres = store.favGenres || ['Djent', 'Progressive Metalcore', 'Thall', 'Progressive Metal', 'Deathcore', 'Post-Hardcore'];\nconst notGenres = store.notGenres || ['Acoustic', 'Classic Rock', 'Pop Metal', 'Nu Metal', 'Rap Metal'];\n\n// Persist defaults if first time\nif (!store.favBands)  store.favBands  = favBands;\nif (!store.favGenres) store.favGenres = favGenres;\nif (!store.notGenres) store.notGenres = notGenres;\n\nconst items = $input.all();\nconst releases = items.map((item, i) => ({\n  id: i,\n  artist:    item.json.artist,\n  track:     item.json.track,\n  genre:     item.json.genre,\n  country:   item.json.country,\n  year:      item.json.year,\n  sourceUrl: item.json.sourceUrl,\n  imageUrl:  item.json.imageUrl\n}));\n\nreturn [{ json: { releases, favBands, favGenres, notGenres } }];"
            },
            "name": "Batch Releases For Groq",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1550,
                200
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are a metal music curator. A listener's taste profile:\n- Favorite bands: {{ $json.favBands.join(', ') }}\n- Favorite genres: {{ $json.favGenres.join(', ') }}\n- NOT interested in: {{ $json.notGenres.join(', ') }}\n\nHere are the new releases to evaluate:\n{{ JSON.stringify($json.releases) }}\n\nReturn ONLY a JSON array of the releases this listener would genuinely enjoy. For each, include:\n- id (original id from input)\n- artist\n- track\n- genre\n- country\n- year\n- sourceUrl\n- imageUrl\n- description (2 sentences, enthusiastic, why they'd like it)\n\nIf none are relevant, return an empty array [].\nReturn raw JSON only, no markdown, no explanation.",
                "options": {}
            },
            "name": "Basic LLM Chain",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                1850,
                150
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "=\ud83c\udfb8 *New Release You'll Like!*\n\n*Artist:* {{ $json.artist }}\n*Release:* {{ $json.track }}\n*Genre:* {{ $json.genre }}\n*From:* {{ $json.country }}\n*Year:* {{ $json.year }}\n\n\ud83e\udd16 {{ $json.description }}\n\n\ud83d\udd17 [View on Coreradio]({{ $json.sourceUrl }})",
                "options": {
                    "parse_mode": "Markdown",
                    "disable_web_page_preview": false
                }
            },
            "name": "Send Favorite Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                2300,
                150
            ],
            "credentials": {
                "telegramApi": {
                    "id": "={{ $env.TELEGRAM_CREDENTIAL_ID }}",
                    "name": "={{ $env.TELEGRAM_CREDENTIAL_NAME }}"
                }
            },
            "notes": "Replace YOUR_CHAT_ID below with your actual Telegram chat ID"
        },
        {
            "parameters": {
                "jsCode": "// Parse Groq's JSON response and emit one item per relevant release\nconst raw = $input.first().json.text || '';\n\nlet relevant = [];\ntry {\n  // Strip markdown fences if present\n  const clean = raw.replace(/```json|```/g, '').trim();\n  relevant = JSON.parse(clean);\n} catch(e) {\n  return [{ json: { error: 'Failed to parse Groq response', raw } }];\n}\n\nif (!Array.isArray(relevant) || relevant.length === 0) {\n  return [{ json: { noRelevantReleases: true } }];\n}\n\nreturn relevant.map(r => ({ json: r }));"
            },
            "name": "Groq Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2050,
                150
            ]
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {
                    "temperature": 0.3
                }
            },
            "name": "Groq Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                1850,
                320
            ],
            "credentials": {
                "groqApi": {
                    "id": "={{ $env.GROQ_CREDENTIAL_ID }}",
                    "name": "={{ $env.GROQ_CREDENTIAL_NAME }}"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Collect all items from all pages into one batch.\n// If all items are sentinels (noNewReleases), emit a single sentinel.\n// Otherwise emit a single item with all new releases combined.\n\nconst items = $input.all();\nconst newReleases = items.filter(item => !item.json.noNewReleases);\n\nif (newReleases.length === 0) {\n  return [{ json: { noNewReleases: true } }];\n}\n\n// Emit individual items (one per release) so Has New Releases? works correctly\nreturn newReleases;"
            },
            "name": "Aggregate New Releases",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1150,
                300
            ]
        },
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                250,
                700
            ],
            "webhookId": "coralike-bot-manager",
            "credentials": {
                "telegramApi": {
                    "id": "={{ $env.TELEGRAM_CREDENTIAL_ID }}",
                    "name": "={{ $env.TELEGRAM_CREDENTIAL_NAME }}"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=The user sent this message to their music bot:\n\"{{ $json.message.text }}\"\n\nThe bot manages three lists:\n- favBands: favorite artist/band names\n- favGenres: favorite music genres\n- notGenres: genres they dislike\n\nParse the user's intent and return ONLY this JSON, no markdown, no explanation:\n{\n  \"action\": \"add\" | \"remove\" | \"list\" | \"unknown\",\n  \"listType\": \"favBands\" | \"favGenres\" | \"notGenres\" | null,\n  \"value\": \"the band or genre name, normalized\" | null,\n  \"reply\": \"a friendly short confirmation message to send back to the user\"\n}\n\nExamples:\n- \"add band Spiritbox\" \u2192 action:add, listType:favBands, value:\"Spiritbox\"\n- \"remove genre Nu Metal\" \u2192 action:remove, listType:notGenres, value:\"Nu Metal\"\n- \"I don't like Rap Metal\" \u2192 action:add, listType:notGenres, value:\"Rap Metal\"\n- \"add Lorna Shore to my favorites\" \u2192 action:add, listType:favBands, value:\"Lorna Shore\"\n- \"show my favorites\" \u2192 action:list, listType:null\n- \"what bands are you tracking\" \u2192 action:list, listType:null",
                "options": {}
            },
            "name": "Parse Intent",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                550,
                700
            ]
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {
                    "temperature": 0.1
                }
            },
            "name": "Groq Chat Model (Bot)",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                550,
                870
            ],
            "credentials": {
                "groqApi": {
                    "id": "={{ $env.GROQ_CREDENTIAL_ID }}",
                    "name": "={{ $env.GROQ_CREDENTIAL_NAME }}"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse Groq's intent response and update static data accordingly\nconst raw = $input.first().json.text || '';\n\nlet intent;\ntry {\n  const clean = raw.replace(/```json|```/g, '').trim();\n  intent = JSON.parse(clean);\n} catch(e) {\n  return [{ json: { reply: \"Sorry, I didn't understand that. Try: 'add band Spiritbox' or 'remove genre Nu Metal'\" } }];\n}\n\n// NOTE: Static data here is scoped to THIS workflow.\n// To share with the scraper, we use a workaround: store in a shared key\n// by writing to n8n's global static data via the same key name.\nconst store = $getWorkflowStaticData('global');\n\n// Load current lists with defaults\nconst favBands  = store.favBands  || ['Vildhjarta', 'Allt', 'Imminence', 'Karmanjaka', \"Humanity's Last Breath\", 'Invent Animate', 'Currents', 'Lorna Shore', 'Spiritbox', 'Sleep Token', 'Bring Me The Horizon'];\nconst favGenres = store.favGenres || ['Djent', 'Progressive Metalcore', 'Thall', 'Progressive Metal', 'Deathcore', 'Post-Hardcore'];\nconst notGenres = store.notGenres || ['Acoustic', 'Classic Rock', 'Pop Metal', 'Nu Metal', 'Rap Metal'];\n\nconst lists = { favBands, favGenres, notGenres };\n\nlet reply = intent.reply || 'Done!';\n\nif (intent.action === 'add' && intent.listType && intent.value) {\n  const list = lists[intent.listType];\n  if (!list.map(x => x.toLowerCase()).includes(intent.value.toLowerCase())) {\n    list.push(intent.value);\n    store[intent.listType] = list;\n  } else {\n    reply = `\"${intent.value}\" is already in your ${intent.listType} list.`;\n  }\n}\nelse if (intent.action === 'remove' && intent.listType && intent.value) {\n  const before = lists[intent.listType].length;\n  lists[intent.listType] = lists[intent.listType].filter(\n    x => x.toLowerCase() !== intent.value.toLowerCase()\n  );\n  store[intent.listType] = lists[intent.listType];\n  if (lists[intent.listType].length === before) {\n    reply = `\"${intent.value}\" was not found in your ${intent.listType} list.`;\n  }\n}\nelse if (intent.action === 'list') {\n  reply = `\ud83c\udfb8 *Favorite Bands:*\\n${favBands.join(', ')}\\n\\n\ud83c\udfb5 *Favorite Genres:*\\n${favGenres.join(', ')}\\n\\n\ud83d\udeab *Not Interested In:*\\n${notGenres.join(', ')}`;\n}\nelse if (intent.action === 'unknown') {\n  reply = \"I didn't get that. Try:\\n\u2022 'add band Sleep Token'\\n\u2022 'remove genre Nu Metal'\\n\u2022 'I don't like Rap Metal'\\n\u2022 'show my favorites'\";\n}\n\nreturn [{ json: { reply, chatId: $input.all()[0]?.json?.message?.chat?.id } }];"
            },
            "name": "Update Favorites",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                700
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.reply }}",
                "options": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Reply",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1100,
                700
            ],
            "credentials": {
                "telegramApi": {
                    "id": "={{ $env.TELEGRAM_CREDENTIAL_ID }}",
                    "name": "={{ $env.TELEGRAM_CREDENTIAL_NAME }}"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Decide Pages To Fetch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Decide Pages To Fetch": {
            "main": [
                [
                    {
                        "node": "Fetch Coreradio Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Coreradio Page": {
            "main": [
                [
                    {
                        "node": "Parse HTML Releases",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse HTML Releases": {
            "main": [
                [
                    {
                        "node": "Deduplicate Releases",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Deduplicate Releases": {
            "main": [
                [
                    {
                        "node": "Aggregate New Releases",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has New Releases?": {
            "main": [
                [
                    {
                        "node": "Batch Releases For Groq",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Basic LLM Chain": {
            "main": [
                [
                    {
                        "node": "Groq Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch Releases For Groq": {
            "main": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Results": {
            "main": [
                [
                    {
                        "node": "Send Favorite Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate New Releases": {
            "main": [
                [
                    {
                        "node": "Has New Releases?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Intent": {
            "main": [
                [
                    {
                        "node": "Update Favorites",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model (Bot)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Parse Intent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Favorites": {
            "main": [
                [
                    {
                        "node": "Send Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}