workflow.json
{
    "name": "CoreILike",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [250, 300]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://coreradio.online/news/",
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true
                        }
                    },
                    "headers": {
                        "parameters": [
                            {
                                "name": "User-Agent",
                                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
                            },
                            {
                                "name": "Accept",
                                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
                            }
                        ]
                    }
                }
            },
            "name": "Fetch Coreradio HTML",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [450, 300]
        },
        {
            "parameters": {
                "jsCode": "// Parse Coreradio HTML to extract releases\nconst html = $input.first().json.body;\nconst releases = [];\n\n// Primary regex: match shortstory blocks from DLE CMS\nconst itemRegex = /<div class=\"shortstory\">[\\s\\S]*?<h2 class=\"title\">[\\s\\S]*?<a href=\"([^\"]+)\">([\\s\\S]*?)<\\/a>[\\s\\S]*?<\\/h2>[\\s\\S]*?<div class=\"shortimg\">[\\s\\S]*?<img[^>]+src=\"([^\"]+)\"[\\s\\S]*?<\\/div>[\\s\\S]*?<div class=\"maincont\">([\\s\\S]*?)<\\/div>/g;\n\nlet match;\nwhile ((match = itemRegex.exec(html)) !== null) {\n  const url = match[1];\n  const titleHtml = match[2];\n  const imageUrl = match[3];\n  const contentHtml = match[4];\n\n  const title = titleHtml.replace(/<[^>]+>/g, '').trim();\n\n  const genreMatch = contentHtml.match(/<b>Genre:<\\/b>\\s*([^<]+)/);\n  const countryMatch = contentHtml.match(/<b>Country:<\\/b>\\s*([^<]+)/);\n  const qualityMatch = contentHtml.match(/<b>Quality:<\\/b>\\s*([^<]+)/);\n\n  let artist = '', track = '', type = '', year = '';\n  const titleMatch = title.match(/^(.+?)\\s+-\\s+(.+?)\\s*(?:\\[([^\\]]+)\\])?\\s*\\((\\d{4})\\)/);\n\n  if (titleMatch) {\n    [, artist, track, type, year] = titleMatch;\n  } else {\n    const parts = title.split(' - ');\n    if (parts.length >= 2) {\n      artist = parts[0];\n      track = parts.slice(1).join(' - ');\n    } else {\n      artist = title;\n      track = 'Unknown';\n    }\n  }\n\n  releases.push({\n    json: {\n      artist: artist.trim(),\n      track: track.trim(),\n      type: (type || '').trim(),\n      year: year || new Date().getFullYear().toString(),\n      genre: genreMatch ? genreMatch[1].trim() : 'Unknown',\n      country: countryMatch ? countryMatch[1].trim() : 'Unknown',\n      quality: qualityMatch ? qualityMatch[1].trim() : 'Unknown',\n      imageUrl: imageUrl,\n      sourceUrl: url,\n      fullTitle: title,\n      scrapedAt: new Date().toISOString()\n    }\n  });\n}\n\n// Fallback: look for Spotify / Apple Music cover art patterns\nif (releases.length === 0) {\n  const altRegex = /<img[^>]+src=\"(https:\\/\\/(?:i\\.scdn\\.co|is\\d+-ssl\\.mzstatic\\.com)[^\"]+)\"[^>]*>[\\s\\S]*?<b>Genre:<\\/b>\\s*([^<]+)[\\s\\S]*?<b>Country:<\\/b>\\s*([^<]+)[\\s\\S]*?<div[^>]*>([^<]+(?:\\[[^\\]]+\\])?\\s*\\(\\d{4}\\))<\\/div>/g;\n\n  while ((match = altRegex.exec(html)) !== null) {\n    const imageUrl = match[1];\n    const genre = match[2].trim();\n    const country = match[3].trim();\n    const title = match[4].trim();\n\n    let artist = '', track = '', type = '', year = '';\n    const titleMatch = title.match(/^(.+?)\\s+-\\s+(.+?)\\s*(?:\\[([^\\]]+)\\])?\\s*\\((\\d{4})\\)/);\n\n    if (titleMatch) {\n      [, artist, track, type, year] = titleMatch;\n    } else {\n      const parts = title.split(' - ');\n      artist = parts[0] || 'Unknown';\n      track = parts.slice(1).join(' - ') || 'Unknown';\n    }\n\n    releases.push({\n      json: {\n        artist: artist.trim(),\n        track: track.trim(),\n        type: (type || '').trim(),\n        year: year || new Date().getFullYear().toString(),\n        genre: genre,\n        country: country,\n        quality: 'MP3, 320 kbps / FLAC',\n        imageUrl: imageUrl,\n        sourceUrl: 'https://coreradio.online/news/',\n        fullTitle: title,\n        scrapedAt: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn releases;"
            },
            "name": "Parse HTML Releases",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [650, 300]
        },
        {
            "parameters": {
            "jsCode": "// Check for favorite bands\nconst favoriteBands = [\n 'vildhjarta', 'allt', 'imminence', 'karmanjakah', 'humanity's last breath', 'invent animate', 'currents', 'lorna shore', 'peur', 'before i turn', 'spiritbox', 'sleep token', 'bring me the horizon'\n];\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const searchText = (data.artist + ' ' + data.track + ' ' + data.genre).toLowerCase();\n\n  const isFavorite = favoriteBands.some(band => searchText.includes(band.toLowerCase()));\n\n  results.push({\n    json: {\n      ...data,\n      isFavorite: isFavorite,\n      matchReason: isFavorite ? 'Favorite band detected' : 'New release'\n    }\n  });\n}\n\nreturn results;"
            },
            "name": "Check Favorites",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [850, 300]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "is-favorite",
                            "leftValue": "={{ $json.isFavorite }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Filter Favorites",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [1050, 200]
        },
        {
            "parameters": {
                "model": "gemini-2.0-flash-exp",
                "options": {
                    "temperature": 0.7
                },
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a metal music expert. Analyze this release and write a brief, enthusiastic description (2-3 sentences). Mention the genre, the vibe, and why fans of {{ $json.artist }} or {{ $json.genre }} might enjoy this. Be concise but engaging."
                        },
                        {
                            "role": "user",
                            "content": "=Artist: {{ $json.artist }}\nRelease: {{ $json.track }}\nGenre: {{ $json.genre }}\nCountry: {{ $json.country }}\nYear: {{ $json.year }}"
                        }
                    ]
                }
            },
            "name": "Gemini AI Analysis",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [1250, 150],
            "credentials": {
                "googlePalmApi": {
                    "id": "={{ $env.GEMINI_CREDENTIAL_ID }}",
                    "name": "={{ $env.GEMINI_CREDENTIAL_NAME }}"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "=🎸 *Coreradio Alert!*\n\n*Artist:* {{ $('Check Favorites').item.json.artist }}\n*Release:* {{ $('Check Favorites').item.json.track }}\n*Genre:* {{ $('Check Favorites').item.json.genre }}\n*From:* {{ $('Check Favorites').item.json.country }}\n*Year:* {{ $('Check Favorites').item.json.year }}\n\n🤖 *Why check it out:*\n{{ $json.content }}\n\n🔗 [View on Coreradio]({{ $('Check Favorites').item.json.sourceUrl }})\n\n{{ $('Check Favorites').item.json.imageUrl ? '📸 Cover art available' : '' }}",
                "options": {
                    "parse_mode": "Markdown",
                    "disable_web_page_preview": false
                }
            },
            "name": "Send Favorite Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [1450, 150],
            "credentials": {
                "telegramApi": {
                    "id": "={{ $env.TELEGRAM_CREDENTIAL_ID }}",
                    "name": "={{ $env.TELEGRAM_CREDENTIAL_NAME }}"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "=📀 *New Coreradio Releases Scraped*\n\nFound {{ $('Parse HTML Releases').item.json.length || 'multiple' }} new releases.\n\n*Latest:* {{ $json.artist }} - {{ $json.track }}\n*Genre:* {{ $json.genre }}\n*From:* {{ $json.country }}\n\n🔗 [View on Coreradio]({{ $json.sourceUrl }})",
                "options": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Daily Summary",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [1250, 400],
            "credentials": {
                "telegramApi": {
                    "id": "={{ $env.TELEGRAM_CREDENTIAL_ID }}",
                    "name": "={{ $env.TELEGRAM_CREDENTIAL_NAME }}"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [{ "node": "Fetch Coreradio HTML", "type": "main", "index": 0 }]
            ]
        },
        "Fetch Coreradio HTML": {
            "main": [
                [{ "node": "Parse HTML Releases", "type": "main", "index": 0 }]
            ]
        },
        "Parse HTML Releases": {
            "main": [
                [{ "node": "Check Favorites", "type": "main", "index": 0 }]
            ]
        },
        "Check Favorites": {
            "main": [
                [{ "node": "Filter Favorites", "type": "main", "index": 0 }]
            ]
        },
        "Filter Favorites": {
            "main": [
                [{ "node": "Gemini AI Analysis", "type": "main", "index": 0 }],
                [{ "node": "Send Daily Summary", "type": "main", "index": 0 }]
            ]
        },
        "Gemini AI Analysis": {
            "main": [
                [{ "node": "Send Favorite Alert", "type": "main", "index": 0 }]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}