workflow.json
{
  "name": "CoreLike",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "channel_post"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "coreradio-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Advanced music metadata extraction\nconst msg = $input.first().json.message || $input.first().json.channel_post;\nif (!msg) return [];\n\nconst text = msg.text || msg.caption || '';\nconst photo = msg.photo ? msg.photo[msg.photo.length - 1] : null;\n\n// Multiple parsing patterns for different Coreradio formats\nlet artist = '', track = '', genre = '', country = '', year = '';\n\n// Pattern 1: Artist - Track [Genre] (Country) | Year\nconst pattern1 = text.match(/^(.+?)\\s+-\\s+(.+?)\\s*\\[(.+?)\\]\\s*\\((.+?)\\)\\s*\\|\\s*(\\d{4})/);\n\n// Pattern 2: Artist - Track [Genre] (Country)\nconst pattern2 = text.match(/^(.+?)\\s+-\\s+(.+?)\\s*\\[(.+?)\\]\\s*\\((.+?)\\)/);\n\n// Pattern 3: Artist \"Track\" [Genre]\nconst pattern3 = text.match(/^(.+?)\\s+\"(.+?)\"\\s*\\[(.+?)\\]/);\n\nif (pattern1) {\n  [, artist, track, genre, country, year] = pattern1;\n} else if (pattern2) {\n  [, artist, track, genre, country] = pattern2;\n} else if (pattern3) {\n  [, artist, track, genre] = pattern3;\n} else {\n  // Fallback: first line is title\n  const lines = text.split('\\n');\n  artist = lines[0].split(' - ')[0] || 'Unknown';\n  track = lines[0].split(' - ')[1] || 'Unknown';\n}\n\n// Your favorite bands - EXPAND THIS LIST\nconst favoriteArtists = [\n  'metallica', 'iron maiden', 'slayer', 'megadeth', 'anthrax',\n  'pantera', 'tool', 'opeth', 'dream theater', 'porcupine tree',\n  'gojira', 'mastodon', 'baroness', 'converge', 'neurosis',\n  'isIS', 'cult of luna', 'amenra', 'neurosis', 'shellac',\n  'big brave', 'sumac', 'old man gloom', 'the ocean',\n  'leprous', 'haken', 'between the buried and me', 'meshuggah',\n  'animals as leaders', 'plini', 'intervals', 'chon'\n];\n\n// Check for exact matches or close similarities\nconst artistLower = artist.toLowerCase();\nconst isDirectMatch = favoriteArtists.some(band => artistLower.includes(band));\n\nreturn [{\n  json: {\n    rawText: text,\n    artist: artist.trim(),\n    track: track.trim(),\n    genre: genre.trim(),\n    country: country.trim(),\n    year: year.trim(),\n    photoFileId: photo?.file_id,\n    photoUniqueId: photo?.file_unique_id,\n    chatId: msg.chat?.id,\n    messageId: msg.message_id,\n    isDirectMatch: isDirectMatch,\n    favoriteArtistsList: favoriteArtists.join(', ')\n  }\n}];"
      },
      "id": "parse-music",
      "name": "Parse Music Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.photoFileId }}"
      },
      "id": "download-cover",
      "name": "Download Cover Art",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [650, 300],
      "credentials": {
        "telegramApi": {
          "id": "8295349107:AAGc-Aytq11ExZS5a5q9HtGfAfw58DyROYs",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.5-pro-exp-03-25",
        "options": {
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a music curator AI. Analyze the band, genre, and album cover image. \n\nMY FAVORITE ARTISTS: {{ $json.favoriteArtistsList }}\n\nTASK: Determine if I would like this release based on:\n1. Direct artist match with my favorites\n2. Genre similarity (progressive metal, post-metal, sludge, math rock, technical death metal, etc.)\n3. Visual aesthetics of the cover art (dark, atmospheric, complex, minimalist, etc.)\n4. Country/scene (Nordic, American, etc.)\n\nRESPOND IN THIS EXACT FORMAT:\nDECISION: [YES or NO]\nCONFIDENCE: [1-10]\nREASON: [2-3 sentences explaining why I would or wouldn't like it]\nSIMILAR_TO: [Which of my favorite artists this resembles most, or \"None\"]\n\nBe strict - only recommend if confidence is 7+."
            },
            {
              "role": "user",
              "content": "=Artist: {{ $json.artist }}\nTrack/Album: {{ $json.track }}\nGenre: {{ $json.genre }}\nCountry: {{ $json.country }}\nYear: {{ $json.year }}\n\nAlbum cover image attached. Analyze the visual style."
            }
          ]
        }
      },
      "id": "gemini-analysis",
      "name": "Gemini 2.5 Pro Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini response\nconst aiResponse = $input.first().json.content;\nconst originalData = $('Parse Music Data').item.json;\n\nconst decisionMatch = aiResponse.match(/DECISION:\\s*(YES|NO)/i);\nconst confidenceMatch = aiResponse.match(/CONFIDENCE:\\s*(\\d+)/);\nconst reasonMatch = aiResponse.match(/REASON:\\s*(.+?)(?=SIMILAR_TO:|$)/s);\nconst similarMatch = aiResponse.match(/SIMILAR_TO:\\s*(.+)/);\n\nconst decision = decisionMatch ? decisionMatch[1].toUpperCase() : 'NO';\nconst confidence = confidenceMatch ? parseInt(confidenceMatch[1]) : 0;\n\nreturn [{\n  json: {\n    ...originalData,\n    aiDecision: decision,\n    aiConfidence: confidence,\n    aiReason: reasonMatch ? reasonMatch[1].trim() : 'No reason provided',\n    aiSimilarTo: similarMatch ? similarMatch[1].trim() : 'None',\n    shouldNotify: decision === 'YES' && confidence >= 7,\n    fullAiResponse: aiResponse\n  }\n}];"
      },
      "id": "parse-decision",
      "name": "Parse AI Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-send",
              "leftValue": "={{ $json.shouldNotify }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-decision",
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_PERSONAL_CHAT_ID",
        "text": "=🎸 *New Release Match!*\n\n*Artist:* {{ $('Parse Music Data').item.json.artist }}\n*Release:* {{ $('Parse Music Data').item.json.track }}\n*Genre:* {{ $('Parse Music Data').item.json.genre }}\n*From:* {{ $('Parse Music Data').item.json.country }}\n{{ $json.year ? `*Year:* ${$json.year}` : '' }}\n\n🤖 *Why you'll love it:*\n{{ $json.aiReason }}\n\n🎯 *Similar to:* {{ $json.aiSimilarTo }}\n*AI Confidence:* {{ $json.aiConfidence }}/10\n\n📥 Check it out on Coreradio!",
        "options": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": false
        }
      },
      "id": "send-notification",
      "name": "Send to You",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1450, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Music Data').item.json.chatId }}",
        "messageId": "={{ $('Parse Music Data').item.json.messageId }}",
        "text": "={{ $json.fullAiResponse }}",
        "options": {
          "parse_mode": "HTML"
        }
      },
      "id": "log-rejection",
      "name": "Log Rejection (Optional)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1450, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Music Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Music Data": {
      "main": [
        [
          {
            "node": "Download Cover Art",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Cover Art": {
      "main": [
        [
          {
            "node": "Gemini 2.5 Pro Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Decision": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "Send to You",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}